{# app/Resources/views/Emails/Sendmail.html.twig #}

<h3>Hi {{ name }}! Je bent met succes geregistreerd!</h3><br/>

Om uw e-mail te bevestigen,  <a href="{{ absolute_url('\inloggen') }}?auth={{auth}}">klik hier</a>.<br/>

Bedankt!
<br/>
{# <img src="{{ absolute_url('/img/Wheel_of_Fortune.png') }}"> #}